body, html {
	margin-left: 3%;
	margin-right: 3%;
}

/*Inter Font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, h1, h2, h3, h4, h5, h6, p, b {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6, b{
	font-weight: 700;
}
