---
---

@import "{{ site.theme }}";

/*Text Formatting*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');/*Title Font*/
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');/*Text Font*/

h1, h2, h3, h4, h5, h6, p, b, body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, b{
	font-weight: 700;
}

h1 {
	font-size: 1.5em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.4em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.338em;
	text-align: center;
}

p, body, b {
	font-family: 'Lusitana', serif;
	font-weight: 400;
}

b {
	font-weight: 700;
}

/*Margins*/
body, html {
	body, html {
		margin-left:1em;
		margin-right:1em;
	}
}

@media only screen and (max-width: 700px) {
	body, html {
		margin-left:2%;
		margin-right:2%;
		}
}