---
---

@import "{{ site.theme }}";

html {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
}

p, body, b, a {
	font-family: serif;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6, nav > *, .footer {
	font-family: sans-serif;
}

nav, .header, .footer {
	float: center;
	text-align: center;
	justify-content: center;
}

.header a {
	margin-right: 5%;
}

.footer {
	margin-top: 5%;
}

span.prev a, span.next a {
	font-family: sans-serif;
}

/*Previous button style*/
span.prev a {
	float: left;
	text-align: left;
	justify-content: left;
}

/*Next button style*/
span.next a {
	float: right;
	text-align: right;
	justify-content: right;
}

hr {
	margin-left: 15%;
	margin-right: 15%;
	height: 3px;
}

/*Responsive design for screen width <= 700px*/
@media only screen and (max-width: 700px) {
	html {
		margin-left:5%;
		margin-right: 5%;
	}
}
