<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="English translations for ICSE 9th and 10th std Tamil Textbooks">
	{% include head-custom.html %}
	<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/icse-tamil-translations/icse-tamil-translations.github.io/main/assets/favicon.ico">
	<title>ICSE Tamil Translations</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', '{{ site.google_analytics }}');
	</script>
	{% include google-analytics.html %}
</head>
<body>
	<div id="header">
		<nav>
			<b>Quick Navigation</b>
			<ul>
				<li><a href="{{ site.url }}/texts">Texts</a></li>
				<li><a href="{{ site.url }}">Home Page</a></li>
				<li><a href="{{ site.github.repository_url }}">Contribute</a></li>
			</ul>
		</nav>
	</div>
	<!-- end header -->
	<div class="wrapper">
		<section>
			{{ content }}
		</section>
	</div>
	<div class="footer">
		<footer>
			<a href="{{ site.url }}/sitemap.xml">Sitemap</a>
		</footer>
	</div>
</body>
</html>
