<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<!--[if lt IE 8]>
	<link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	{% include head-custom.html %}
	<link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/hydino2085143/icse-tamil-translations/main/assets/favicon.ico">
</head>
<body>
	<div id="header">
		<nav>
			<ul>
				<lh><b>Quick Navigation</b></lh>
				<li><a href="{{ site.url }}/icse-tamil-translations/texts">Texts</a></li>
				<li><a href="{{ site.url }}/icse-tamil-translations">Home Page</a></li>
				<li><a href="{{ site.github.repository_url }}">Contribute</a></li>
			</ul>
		</nav>
	</div>
	<!-- end header -->
	<div class="wrapper">
		<section>
			{{ content }}
		</section>
	</div>
</body>
</html>
